<form method="post" id="loginFomr" name="loginForm">
    <!-- Username -->
    <label for="email" class="item item-input">
        <input type="text" id="email" name="email"
                ng-model="login.email" placeholder="Email">
    </label>
    <!-- Password -->
    <label for="password" class="item item-input">
        <input type="password" id="password" name="password"
                ng-model="login.password" placeholder="Password">
    </label>
    <button class="button button-block button-positive"
            ng-click="signin()">
        Register
    </button>
</form>