.idea
node_modules
.tmp
.sass-cache
bower_components
src
dist
public/assets
public/fonts
public/js
public/templates
public/lib
public/translations
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
